body {
    background-color: $grayColor;
    width: 100%;

    .notesContainer {
        width: 90%;
        position: absolute;
        right: 0px;
    }

    .sideNav {
        width: 10%;
        text-align: right;
    }

    .bodyContainer {
        display: flex;
        margin: 50px 0 0 0;
    }
}