.contactUsForm {
    text-align: center;
    max-width: 600px;
    margin-top: 50px;
    height: 100%;
    
    h2 {
        margin-bottom: 20px;
    }

    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    input {
        width: 100%;
        border: none;
        margin-bottom: 15px;
    }

    .nameFlexContainer {
        display: flex;
        width: 100%;

        input:not(:last-child) {
            margin-right: 20px;
        }
    }

    textarea {
        width: 100%;
    }

    input, 
    textarea {
        border-bottom: 3px solid transparent;
        box-shadow: 0.5px 0.5px 3px 0.5px rgba($color: $black, $alpha: 0.2);
        transition: 300ms;

        &:focus,
        &:hover {
            border-bottom: 3px solid $primaryColor;
        }
    }

    button {
        border: none;
        height: 100%;
        background: $primaryColor;
        color: $white;
        padding: 0 20px;
        transition: 500ms;
        margin-top: 20px;
    
        &:hover,
        &:focus {
            background: $black;
            color: $white;
        }
    }
}