.clearForm {
    margin-bottom: 25px;
    height: 100%;

    button,
    input {
        transition: 500ms;
    }

    button {
        border: none;
        height: 49px;
        background: $primaryColor;
        color: $white;
        padding: 0 20px;

        &:hover,
        &:focus {
            background: $black;
            color: $white;
        }
    }

    input {
        border: 1px solid $black;
        border: 3px solid transparent;
        box-shadow: 0.5px 0.5px 3px 0.5px rgba($color: $black, $alpha: 0.2);
    
        &:focus,
        &:hover {
            border: 3px solid $primaryColor;
        }
    }
}