footer {
    background: $primaryColor; 
    color: $white;
    text-align: center;
    padding: 5.5px;
    border-top: 1px solid $black;

    a {
        color: white;
        transition: 300ms;

        &:hover,
        &:focus {
            color: $black;
        }
    }
}