.loginBgContainer {
    height: calc(100vh - 65.3333px);
    width: 100%;

    .wrapper {
        display: flex; 
        align-items: center;
    }

    h2 {
        color: rgba($color: $black, $alpha: 0.8);
        width: 30%;
    }

    img {
        width: 80%;
    }
}

.headerNav {
    padding: 10px;
    border-bottom: 1px solid black;

    .wrapper {
    display: flex;
    justify-content: space-between;
    }

    .loginBtn {
        color: $black;
        padding: 10px 15px;
        background: $secondaryColor;
        border: 1px solid black;
        transition: 500ms;

        &:hover {
            background: $black;
            color: $white;
        }
    }
}
