.loginBgContainer {
    background: $primaryColor;
    height: calc(100vh - 57.9167px);

    .wrapper {
        display: flex; 
    }

    h2 {
        width: 30%;
    }

    img {
        width: 50%;
    }
}

.headerNav {
    padding: 10px;
    border-bottom: 1px solid black;

    .wrapper {
    display: flex;
    justify-content: space-between;
    }
}