.loginBgContainer {
    min-height: calc(100vh - 65.5333px);
    width: 100%;

    .wrapper {
        display: flex; 
        align-items: center;
    }

    h2 {
        color: rgba($color: $black, $alpha: 0.8);
        width: 30%;
    }

    img {
        width: 70%;
    }
}

