* {
    font-family: $baseFont;
    @include fontSize(22);
}

header {
    h1 {
        margin: 0;
    }
}

h1, h2 {
    font-family: $headingFont;
}

h2 {
    @include fontSize(30);
}

.headerNav a {
    @include fontSize(25);
}