// colors
$primaryColor: rgb(137, 104, 125);
$secondaryColor: rgb(252, 216, 204);
$tertiaryColor: rgb(255, 247, 236);
$accentColor: rgb(167, 224, 233);
$grayColor: rgb(233, 235, 237);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


// fonts
$baseFont: 'Hind', sans-serif;
$headingFont: 'Montserrat', sans-serif;